<template>
    <div class="left-pane">
        <div class="contains">
            <div class="top">
                <img src="https://rubies-ibank-test-two.s3-us-west-2.amazonaws.com/img/new-rubies-logo-full.png" alt="Rubies Logo">
            </div>
            <div class="actions">
                <a v-if="getSideBarPage === 'dashboard'" @click="goToDashboard()" class="current active">
                    <i class="nav-icon i-Dashboard"></i>
                    Dashboard
                </a>
                <a v-else @click="goToDashboard()" class="current">
                    <i class="nav-icon i-Dashboard"></i>
                    Dashboard
                </a>

                <p class="label">ACTIONS</p>
                <ul>
                    <li>
                        <a v-if="getSideBarPage === 'buy-airtime'" @click="goToBuyAirtime()" class="active">
                            <i class="nav-icon i-Plastic-Cup-Phone"></i>
                            <span>Buy Airtime</span>
                        </a>
                        <a v-else @click="goToBuyAirtime()">
                            <i class="nav-icon i-Plastic-Cup-Phone"></i>
                            <span>Buy Airtime</span>
                        </a>
                    </li>

                    <li>
                        <a v-if="getSideBarPage === 'send-money'" @click="goToSendMoney()" class="active">
                            <i class="nav-icon i-Coins"></i>
                            <span>Send Money</span>
                        </a>
                        <a v-else @click="goToSendMoney()" class="">
                            <i class="nav-icon i-Coins"></i>
                            <span>Send Money</span>
                        </a>
                    </li>

                    <li>
                        <a v-if="getSideBarPage === 'pay-bills'" @click="goToPayBills()" class="active">
                            <i class="nav-icon i-Billing"></i>
                            <span>Pay Bills</span>
                        </a>
                        <a v-else @click="goToPayBills()">
                            <i class="nav-icon i-Billing"></i>
                            <span>Pay Bills</span>
                        </a>
                    </li>

                    <li>
                        <a v-if="getSideBarPage === 'account-statement'" @click="goToAccountStatement()" class="active">
                            <i class="nav-icon i-Statistic"></i>
                            <span>Account Statement</span>
                        </a>
                        <a v-else @click="goToAccountStatement()">
                            <i class="nav-icon i-Statistic"></i>
                            <span>Account Statement</span>
                        </a>
                    </li>

                    <li>
                        <a v-if="getSideBarPage === 'independent-banker'" @click="goToIndependentBanker()" class="active">
                            <i class="nav-icon i-Bank"></i>
                            <span>Independent Banker</span>
                        </a>
                        <a v-else @click="goToIndependentBanker()">
                            <i class="nav-icon i-Bank"></i>
                            <span>Independent Banker</span>
                        </a>
                    </li>

                    <li>
                        <a v-if="getSideBarPage === 'money-request'" @click="goToMoneyRequest()" class="active">
                            <i class="nav-icon i-Receipt"></i>
                            <span>Money Request</span>
                        </a>
                        <a v-else @click="goToMoneyRequest()">
                            <i class="nav-icon i-Receipt"></i>
                            <span>Money Request</span>
                        </a>
                    </li>

                    <li>
                        <a v-if="getSideBarPage === 'all-accounts'" @click="goToAllAccounts()" class="active">
                            <i class="nav-icon i-Credit-Card"></i>
                            <span>All Accounts</span>
                        </a>
                        <a v-else @click="goToAllAccounts()">
                            <i class="nav-icon i-Credit-Card"></i>
                            <span>All Accounts</span>
                        </a>
                    </li>
                    <li>
                        <a  @click="goToSignOut()">
                            <i class="nav-icon i-Lock"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!--<div class="bottom">-->
            <!--<div class="hold">-->
            <!--<div class="base">-->
            <!--<div class="ico">-->
            <!--T1-->
            <!--</div>-->
            <!--<div class="tab">-->
            <!--<p>Tier 1 Account</p>-->
            <!--<a href="#">Upgrade Now</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "LeftBar",
        components: { },
        props: { },
        data () {
            return { }
        },
        computed: {
            ...mapGetters([
                'getSideBarPage',
                'getInsideCurrentPage',
                'getDataOnLogin',
                'getUsername',
            ])
        },
        created () {},
        methods: {
            ...mapActions([
                'updateAppLoading',
                'updateDataOnLogin',
                'updateUsername',
                'updateSideBarPage',
                'updateCurrentComponent',
                'updateInsideCurrentPage',
                'updateIBankerList',
                'updateMoneyRequestSentList',
                'updateMoneyRequestReceivedList',
                'updateCurrentAirtimePhoneNo',
            ]),

            goToDashboard(){
                //update "sideBarPage" in the store
                this.updateSideBarPage('dashboard');

                //Update the current sub component in the store
                this.updateInsideCurrentPage('dashboard')
            },
            goToSendMoney(){
                //update "sideBarPage" in the store
                this.updateSideBarPage('send-money');

                //Update the current sub component in the store
                this.updateInsideCurrentPage('sendMoney')
            },
            goToPayBills(){
                //update "sideBarPage" in the store
                this.updateSideBarPage('pay-bills');

                //Update the current sub component in the store
                this.updateInsideCurrentPage('payBills')
            },
            goToBuyAirtime(){
                // update current airtime phone number
                this.updateCurrentAirtimePhoneNo([this.getDataOnLogin.countrycode, '0'+this.getDataOnLogin.mobilenumber])

                //Update the current sub component in the store
                this.updateInsideCurrentPage('airtime')
            },
            goToAllAccounts(){
                //update "sideBarPage" in the store
                this.updateSideBarPage('all-accounts');

                //Update the current sub component in the store
                this.updateInsideCurrentPage('allAccount')
            },
            goToIndependentBanker(){
                //start app loading
                this.updateAppLoading(true);


                let bodyToSend = {
                    customerid: this.getDataOnLogin.customerid,
                }

                axios
                    .post('/mybankercustomers', bodyToSend,
                        {
                            headers : {
                                'Authorization': this.getDataOnLogin.authorization,
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin': '*'
                            }})
                    .then(response => {
                        //stop app running
                        this.updateAppLoading(false);

                        let responseData =  response.data;

                        console.log('responseData ==>>', responseData)

                        if (responseData.responsecode === '00') {
                            this.updateIBankerList (responseData.result);

                            //update "sideBarPage" in the store
                            this.updateSideBarPage('independent-banker');

                            //Update the current sub component in the store
                            this.updateInsideCurrentPage('independentBanker')

                        } else {

                            // display error notification
                            this.showAlert(true, 'error', responseData.responsemessage)
                        }
                    })
                    .catch(error => {
                        //stop app running
                        this.updateAppLoading(false);

                        // log Error
                        console.log(error);
                    })

            },
            goToMoneyRequest(){
                //start app loading
                this.updateAppLoading(true);


                let bodyToSend = {
                    username: this.getUsername
                }

                axios
                    .post('/requestmoneysentlist', bodyToSend,
                        {
                            headers : {
                                'Authorization': this.getDataOnLogin.authorization,
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin': '*'
                            }})
                    .then(response => {
                        //stop app running
                        this.updateAppLoading(false);

                        let responseData =  response.data;

                        console.log('responseData ===>>', responseData)


                        if (responseData.responsecode === '00') {

                            this.updateMoneyRequestSentList(responseData.result)

                            axios
                                .post('/requestmoneyreceivedlist', bodyToSend,
                                    {
                                        headers : {
                                            'Authorization': this.getDataOnLogin.authorization,
                                            'Content-Type': 'application/json',
                                            'Access-Control-Allow-Origin': '*'
                                        }})
                                .then(response2 => {
                                    //stop app running
                                    this.updateAppLoading(false);

                                    let responseData2 =  response2.data;

                                    console.log('responseData2 ==>>', responseData2)

                                    if (responseData2.responsecode === '00') {
                                        this.updateMoneyRequestReceivedList(responseData2.result)


                                        //update "sideBarPage" in the store
                                        this.updateSideBarPage('money-request');

                                        //Update the current sub component in the store
                                        this.updateInsideCurrentPage('moneyRequest')

                                    } else {

                                        // display error notification
                                        this.showAlert(true, 'error', responseData.responsemessage)
                                    }
                                })
                                .catch(error => {
                                    //stop app running
                                    this.updateAppLoading(false);

                                    // log Error
                                    console.log(error);
                                })

                        } else {

                            // display error notification
                            this.showAlert(true, 'error', responseData.responsemessage)
                        }
                    })
                    .catch(error => {
                        //stop app running
                        this.updateAppLoading(false);

                        // log Error
                        console.log('--------Error----', error ,'----Error--------');

                        // set network error state to true
                        this.updateNetworkErrorState(true);
                    })

            },
            goToAccountStatement(){
                //update "sideBarPage" in the store
                this.updateSideBarPage('account-statement');

                //Update the current sub component in the store
                this.updateInsideCurrentPage('accountStatement')
            },
            goToSignOut(){
                //start app loading
                this.updateAppLoading(true);

                axios
                    .post('/logout', {
                        username: this.getUsername
                    })
                    .then(response => {
                        //stop app running
                        this.updateAppLoading(false);

                        let responseData = response.data;

                        if (responseData.responsecode === '00'){
                            this.actualLogout()
                        }
                    })
                    .catch(error => {
                        console.log('Alt Log out');

                        this.actualLogout()
                    })
            },

            actualLogout(){
                // reset the data on login to an empty string
                this.updateDataOnLogin('');
                this.updateUsername('');

                //redirect to the login page
                this.updateCurrentComponent('login')
            },
        },
        mounted(){
            this.$nextTick(()=>{});
        },
    }
</script>

<style scoped>

</style>