<template>
  <div id="app">
    <div></div>
    <router-view></router-view>
  </div>
</template>

<style>
  a{cursor: pointer}
  .form-input.is-danger{

  }
  .error-span.is-danger{
    color: darkred;
    font-size: 11px;
    display: block;
    padding: 5px 15px 0;
  }
  .ui-alert {
    font-size: 11px !important;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
  }
</style>
